/*
	Name: 		 memorygame.css
	Description: contains the styling information for the game
*/

body {
	background:transparent url("../images/honey_im_subtle.png");
}

/*-----------------------------------------------
	Card related classes
-----------------------------------------------*/


.card-instance {
	display:inline-table;
	position:relative;
	cursor:pointer;
	margin:0px 5px 0px 5px;
	outline: solid 1px white;
	
	
}


#highscores{
	color:white;
	padding:10px;
	font-size:13px;
}

#highscores > span {
	width:100%;
	
	display:block;
	background-color:#2167a2;
	margin:1px 0px 1px 0px;

}


#card-wrapper {
	display: inline-table;
	background-color: rgba(0,0,0,0.2);
	height:100%;
	margin-left:50px;
	padding:15px 5px 0px 5px;
	border-radius:5px;
}

#gameinfo p {
	margin:2px;
	text-align:center;
	font-size:15px;
	
}


#user-input #finalscore-value {
	font-size:40px;
}

.card-cover {
	background-color:rgb(0,0,0,0);
	width:100%;
	height:100%;
	border:solid 1px white;
	position:absolute;
	top:0px;
	left:0px;
	z-index:200;
	cursor:default;
	
}

/*----------------------------------------------
	Timer
-----------------------------------------*/

#timer{
font-size:18px;
color:white;
font-weight:bold;
	
}

#timer-wrapper { margin:45px 0px 0px 30px; }

/*------------------------------------------------------

	Main containers

----------------------------------------------------*/

#main-container{ width:100%; }

.blue {
	background-color:#5070a9;
}

#game-container {
	width:720px;
	height:576px;
	background-color:#5070a9;
	margin:auto;
	border-radius: 10px;
	box-shadow: 1px 5px 25px black;
	position:relative;

}

.letter {
	font-size:14px;
	color:white;
}


#game-title {
	width:720px;
	height:50px;
	background-color:gray;
	margin:10px auto 10px auto;
}

#logo {
	background:transparent url("../images/logo.png") no-repeat;
	width:200px;
	height:80px;
	display:block;
	
}

#gameinfo{
	width: 180px;
	height: 80px;
	border: solid 1px gray;
	margin-top: 10px;
	overflow-y: scroll;
	margin-left: 10px;
	color: white;
	font-family: Arial;
	background-color: #222222;
	padding-top: 45px;
}

#selected-card{
	background:rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	outline:solid 2px black;
}

.hide {
	width: 100%;
	height: 100%;
	background-color: gray;
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 0px;
	

}

.highscore-user{
	width: 100%;
	display: block;
	background-color: #2167a2;
	margin-bottom:1px;
}


.more-users {
	width:auto;
	float:right;
	display:block;
	cursor:pointer;
}


#scorewrapper-users {
	position:relative;
}

#allscorewrapper {
	position: absolute;
	display: block;
	background-color: white;
	border: solid 1px gray;
	width: 180px;
	min-height: 20px;
	right: -205px;
	color: black;
	padding: 5px;
	display: none;
}

#allscorewrapper > span {
	display:block;
	width:100%;
	padding:2px 0px 2px 0px;
}

.more-users:hover{
	text-decoration:underline;
}

.background-hide {
	background:transparent url("../images/card_bg.gif") no-repeat;
}


.hide-clicked {
	outline:solid 2px white;
	background-color:rgba(0,0,0,0) !important;
}

.hide:hover {
	background-color:black;
}

.button {
	width:140px;
	height:25px;
	color:white;
	border:solid 1px black;
	border-radius:8px;
	padding:20px;
	cursor:pointer;
	position:absolute;
	bottom:10px;
	text-align:center;
	
	background: #ea5507; /* Old browsers */
	background: -moz-linear-gradient(top,  #ea5507 3%, #fb955e 98%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#ea5507), color-stop(98%,#fb955e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ea5507 3%,#fb955e 98%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ea5507 3%,#fb955e 98%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ea5507 3%,#fb955e 98%); /* IE10+ */
	background: linear-gradient(to bottom,  #ea5507 3%,#fb955e 98%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea5507', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */
	font-family:Calibri;
	font-weight:bold;
	
	margin-left:10px;
	
}

.button:hover {

	text-shadow:2px 2px 2px gray;
	background: #fb955e; /* Old browsers */
background: -moz-linear-gradient(top,  #fb955e 7%, #ea5507 90%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(7%,#fb955e), color-stop(90%,#ea5507)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fb955e 7%,#ea5507 90%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fb955e 7%,#ea5507 90%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fb955e 7%,#ea5507 90%); /* IE10+ */
background: linear-gradient(to bottom,  #fb955e 7%,#ea5507 90%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb955e', endColorstr='#ea5507',GradientType=0 ); /* IE6-9 */
	
}

/*----------------------------------------------------------------
	
	Seconday containers

-----------------------------------------------------------------*/

.container-wrapper {
	padding:50px 10px 10px 10px;
}

#container-left {
	width:475px;
	height:460px;
	float:left;
	position:relative;
}


#container-right {
	width: 200px;
	height: 480px;
	background-color: #033a6d;
	float: right;
	position: relative;
	border: solid 1px gray;
	border-radius: 10px;
}

.container {
	float:left;	
}


#help-icon {
	position: absolute;
	color: white;
	top: 10px;
	right: 10px;
	border-radius: 30px;
	padding: 5px 12px;
	cursor: pointer;
	font-size: 18px;
	border: solid 1px white;
	font-weight: bold;
	font-family:Arial;
}


#help-icon:hover {
	color:black;
	background-color:white;
}



/*
	User Input
*/

#user-input {
	opacity:0;
	display:none;
}



#lostgame-wrapper,
#rules,
#user-input{
	position: absolute;
	background-color: rgba(0,0,0,0.8);
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 500;
}



.save-wrapper {
	width: 100px;
	margin:20px auto auto auto;
}

#userwarning {
	color: #ff1e1e;
	font-size: 20px;
	margin: 20px auto auto auto;
	width: 100%;
	text-align: center;
	opacity:0;
	
}

.save-wrapper #save-icon{
	cursor: pointer;
	background-color: white;
	border-radius: 10px;
	background-position: 5px 3px;
}

.save-wrapper #save-icon:hover {
	background-color: #5070a9;
}

#user-input-wrapper {
	display: inline-table;
	margin-left: 250px;
	margin-top: 10px;
}

#user-input-wrapper .userinput-field {
	border: solid 1px white;
	padding: 2px;
	background-color: whitesmoke;
	font-style: italic;
	width: 200px;
	height: 30px;
	padding: 5px;
	margin: 10px;
	font-size: 14px;
	color: #706f6f;
	font-family: Arial;	
	text-align:center;
}


#user-input .user-info{
	color:white;
	font-size:16px;
	width:100%;
	margin-left:10px;
	margin-top:25px;
	font-family:Arial;
	text-align:center;
}

#user-input .big {
	font-size:30px;
}

/*-----------------------------
	RULES
-------------------------------*/

#rules {
	color:white;
	text-align:center;
	opacity:0;
	display:none;
}

#close-lost,
#user-input #close-input,
#rules #close-rules{
	position:absolute;
	right:10px;
	top:10px;
	font-size:30px;
	color:white;
	cursor:pointer;
	font-family:Arial;
}

#rules #close-rules:hover {text-decoration:underline;}

#rules .rules-title{font-size:28px; }

#rules .how {
	border-bottom:solid 1px white;
	padding-bottom:10px;
	width:75%;
	margin:auto;
}

 .rules-image{
	background: transparent url("../images/help_sprite.png") no-repeat;
	width: 100px;
	height: 100px;
	display: inline-block;
}

#rules .help-container{
	width:400px;
	margin:auto;
	margin-bottom:10px;
}

#rules .help-container > p {
	padding-top:20px;
	float:left;
	width:200px;
}

#rules #keyboard-image{ background-position:0px -190px; }
#rules #enter-image {background-position:0px -300px; }
#rules #time-image {background-position:0px -110px; }
#rules #flip-image { background-position:0px -410px;}


/*

*/

#lostgame-wrapper {
	display:none;
}

#lostgame-wrapper .lost-image{
	background: transparent url("../images/loser.jpg") no-repeat;
	width: 310px;
	height: 400px;
	display: block;
	margin: auto;
}

#lostgame-wrapper #mainlost{
	font-size:42px;
	font-weight:bold;
}

#lostgame-wrapper .lost-text {
	font-size:30px;
	color:white;
	text-align:center;
	margin:15px 0px 10px 0px;
}











